.logo_title {
	font-family: "Verdana";
	font-size: 700%;
	color: #3333c0;
	text-align: center;
}
.roboto
	{
	font-family: "Tahoma", "Roboto", "Verdana", "Arial";	
	}

.blue
	{
		color: #7070a0;		
	}
.logo_subtitle {
	font-family: "Roboto";
	font-size: 150%;
	color: #3333c0;
	text-align: center;
}
.logo_mini {
	font-size: 150%;
}
.link
	{
		color: #3333c0;
		text-decoration: none;
		border-bottom: 1px solid none;		
	}
	
.link:hover
	{
		color: #3333c0;
		text-decoration: none;
		border-bottom: 1px solid #3333c0;
		cursor: pointer;		
	}
#welco
	
#welcome {
	padding-top: 50px;
	min-height: 900px;
	color: #fff;
	background-color: #fefefe;
}
.bg_thesa {
	background-color: #3333c0;
	color: #ffffff;
}

.bgthesa {
    background-color: #d0d0f0;
    color: #000000;
}

.thesa_tree {
	width: 100%;
	border: 1px solid #C0C0C0;
	min-height: 500px;
}
a.term
	{
		font-size: 120%;
		line-height: 180%;
		/* font-weight: bold; */
	}
a.term_word
	{
		font-size: 120%;
		line-height: 180%;
		font-style: italic;		
	}
ul.thesa
	{
		list-style-type: none;
	}
.thesa-concept {
	font-size: 200%;
	font-weight: bold;
	padding-bottom: 5px;
}
.thesa {
	color: #3333c0;
}
.thesa_under {
	border-bottom: 1px dashed #3333c0;
}
a {
	color: #3333c0;
}
a:hover {
	color: #3333c0;
}
.nav > li > a {
	color: #3333c0;
	font-size: 15px;
	/* font-family: "Roboto"; */
	font-family: "Verdana";
	text-decoration: none;
}
.nav > li > a > hover {
	color: #3333c0;
	opacity: 0.8;
	text-decoration: none;
}

