/* Corpo */
body {
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
	/* font-family: 'Open Sans Condensed', sans-serif; */
	font-family: 'Titillium Web', sans-serif;
	/* font-size: 100%; */
	color: #333333;
}

.trash
	{
		opacity: 0.2;
	}
.trash:hover
	{
		opacity: 1;
	}	

.icones {
	width: 130px;
	height: 130px;
	background-repeat: no-repeat !important;
	transform: scale(0.8);
	float: left;
}
.prt
	{
		font-size: 22px;
	}

/* Font size */
.small, .small a {
	font-size: 70%;
}
.std, .std a {
	font-size: 100%;
}
.middle, .middle a {
	font-size: 150%;
	color: #4040ef;
}
.big, .big a {
	font-size: 200%;
}

.border
    {
        border: 1px solid #000000;
        background-color: #E0E000;
    }

a {
	color: #444444;
	text-decoration: none;
	line-height: 150%;
}

a:focus, a:hover {
	color: #000000;
	text-decoration: underline;
}

.img-person {
	border: 2px solid #808080;
	border-radius: 10px;
	box-shadow: 2px 2px;
}