<div class="container mt-4">
  <form [formGroup]="formAction" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <textarea id="desc" class="form-control" rows="10" formControlName="description"></textarea>
    </div>
    <button type="submit" class="btn btn-outline-primary">Salvar</button>
    <span class="btn btn-outline-warning ms-2" (click)="loadOrigin()">Cancelar</span>
  </form>

  <div *ngIf="showSuccess" class="alert alert-success mt-4" role="alert">
    Dados salvos com sucesso!
  </div>
</div>
