<div class="container mt-4">
  <form [formGroup]="formAction" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <textarea id="desc" class="form-control" rows="10" formControlName="description"></textarea>
    </div>
    <button type="submit" class="btn btn-outline-primary">{{ language.labels().save }}</button>
    <span class="btn btn-outline-warning ms-2 full" (click)="loadOrigin()">{{ language.labels().cancel }}</span>
  </form>

  <div *ngIf="showSuccess" class="alert alert-success mt-4" role="alert">
    {{ language.labels().savedSuccessfully }}
  </div>
</div>
