<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2>WordCount</h2>
    </div>
    <div class="col-8"></div>
    <div class="col-4 border border-second rounded">
      <div class=" container-full">
        <div class="row">
          <div class="col-3 border-end border-secondary border-bottom p-2 text-center">
            <span class="superbig fw-bold">{{words}}</span>
            <br/>
            <span translate>Words</span>
          </div>
          <div class="col-3 border-end border-secondary border-bottom p-2 text-center">
            <span class="superbig fw-bold">{{words}}</span>
            <br/>
            <span translate>Words</span>
          </div>

          <div class="col-3 border-end border-secondary border-bottom p-2 text-center">
            <span class="superbig fw-bold">{{words}}</span>
            <br/>
            <span translate>Words</span>
          </div>

          <div class="col-3 border-end border-secondary border-bottom p-2 text-center">
            <span class="superbig fw-bold">{{words}}</span>
            <br/>
            <span translate>Words</span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
