<table cellspacing="0" cellpadding="5" width="100%" class="prt" border="1" style="border: 1px solid #ccc; border-collapse: collapse;">
  <tbody>
    <tr>
      <th width="2%"  style="border: 1px solid #ccc; border-collapse: collapse;"></th>
      <th width="80%"  style="border: 1px solid #ccc; border-collapse: collapse;"></th>
      <th width="18%"  style="border: 1px solid #ccc; border-collapse: collapse;"></th>
    </tr>

    <tr valign="top">
      <td rowspan="1" colspan="2">
        <span class="ttitle"><b>{{data.label}}</b></span>
      </td>

      <td *ngIf="data?.medias?.other?.length > 0" class="text-center" valign="top" rowspan="10">
        <div class="mb-2"><i>Imagens</i></div>
        <ng-container *ngFor="let img of data.medias.other; let isFirst = first">
          <img style="width: 100%" src="https://ufrgs.br/thesa/public/{{ img.mid_directory + img.mid_file}}">
        </ng-container>
      </td>

    </tr>

    <tr *ngIf="hasDefinition()">
      <td width="20">&nbsp;</td>

      <td class="prt small">
        <b>Definição</b>:
        <ng-container *ngFor="let def of data.notes">
          <ng-container *ngIf="def.p_name === 'Definição'">
            {{ def.nt_content }} <sup>({{ def.lg_code }})</sup>
          </ng-container>
        </ng-container>
      </td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td style="text-align: left; line-height: 120%" class="small" *ngIf="data?.broader || data?.narrow || data?.relations">
        <div class="mb-2"><i>Termos relacionados</i></div>

        <!-- Termos genéricos (TG) - mais amplos -->
        <ng-container *ngFor="let rel of data.broader">
          <div class="tt">
            &nbsp;&nbsp;&nbsp;&nbsp;TG {{ rel.Term }} <sup>({{ rel.Lang }})</sup>
          </div>
        </ng-container>

        <!-- Termos específicos (TE) - mais estreitos -->
        <ng-container *ngFor="let rel of data.narrow; let isFirst = first">
          <div class="tt">
            &nbsp;&nbsp;&nbsp;&nbsp;{{ isFirst ? 'TE' : '&nbsp;&nbsp;' }} {{ rel.Term }} <sup>({{ rel.Lang }})</sup>
          </div>
        </ng-container>

        <!-- Termos relacionados (TR) -->
        <ng-container *ngFor="let rel of data.relations; let isFirst = first">
          <div class="tt">
            &nbsp;&nbsp;&nbsp;&nbsp;{{ isFirst ? 'TR' : '&nbsp;&nbsp;' }} {{ rel.Term }} <sup>({{ rel.Lang }})</sup>
          </div>
        </ng-container>

      </td>
    </tr>

    <!-- Outras notas -->
    <tr *ngIf="data.notes.length > 0">
      <td>&nbsp;</td>
      <td class="prt small">
        <ng-container *ngFor="let note of data.notes">
          <div *ngIf="note.note !== 'Definição'" class="mt-3">
            <b>Outras notas - {{note.p_name}}</b>:
            {{ note.nt_content }} <sup>({{ note.lg_code }})</sup>
          </div>
        </ng-container>
      </td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td class="small" colspan="2">
        <span><b>Criado em</b>: {{data.created}}</span>
        <span class="m-5"><b>Atualizado em</b>: {{data.updated}}</span>
      </td>
    </tr>
  </tbody>
</table>
