<label translate>Term search</label>
<input data-bs-theme="dark" type="text" class="full form-control" matInput [formControl]="myControl">
<br/>
<div *ngIf="isEmpty"
  class="overflow-auto thema mb-5"
  style="max-width: 100%; max-height: {{max}}; height: {{max}}"
>
  VAZIO
</div>

<div
  class="overflow-auto thema mb-5 elemento"
  style="max-width: 100%; max-height: {{max}}; height: {{max}}"
>
  <div *ngFor="let item of filteredOptions | async" class="thema">
    <span
      *ngIf="item.Propriety == 'prefLabel'"
      class="link"
      (click)="viewTerm(item.Concept)"
    >
      {{ item.Term }} <sup>{{item.Lang}}</sup>
    </span>
    <span *ngIf="item.Propriety == 'altLabel'"
    class="link fst-italic ps-2 text-remissive"
    (click)="viewTerm(item.Concept)">
      {{ item.Term }}</span>
  </div>
</div>
