LINKED DATA
<div class="row">
  <div class="col-12">
    <h3>Linked Data</h3>
    <p>
      Linked data is a method of publishing structured data so that it can be
      interlinked and become more useful through semantic queries.
    </p>
  </div>
</div>

<form [formGroup]="linkForm" (ngSubmit)="submit()" class="p-2 border rounded bg-light">
  <div class="mb-2">
    <label for="label" class="form-label">🔖 Rótulo</label>
    <input type="text" id="label" formControlName="label" class="form-control" placeholder="Ex: Mudança climática" [disabled]="true">
  </div>

  <div class="mb-2">
    <label for="uri" class="form-label">URI do Linked Data</label>
    <input type="url" id="uri" formControlName="uri" class="form-control" placeholder="https://www.wikidata.org/entity/Q8094">
    <div *ngIf="linkForm.controls['uri'].invalid && linkForm.controls['uri'].touched" class="text-danger">
      Insira uma URI válida iniciando com http:// ou https://
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="linkForm.invalid">Adicionar Link</button>
</form>
