<!-- Campo de busca -->
<input
  type="text"
  class="form-control mb-2"
  placeholder="Buscar termo..."
  [(ngModel)]="filterText"
/>

<!-- Lista de termos com DIVs -->
<div
  class="form-control term-select"
  style="max-height: 400px; overflow-y: auto;"
>
  <div
    *ngFor="let term of filteredTerms()"
    (click)="onSelectTerm(term.Concept)"
    [class]="term.Propriety"
    [class.selected]="term.Concept === selectedConcept"
    class="link option_select"
  >
    {{ term.Term }}
  </div>
</div>
