.term-select {
  font-size: 0.95rem;
  height: auto;
  border: 0px solid #ccc;
}

.term-select option {
  padding: 1px;
}

.term-select option:checked {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

option {
  font-family: Cabin+Condensed, sans-serif;
}

.altLabel
  {
  padding: 0px 0px 0px 15px;
  font-size: 0.8rem;
  font-style: italic;
  }

.selected {
  background-color: #007bff;
  color: white;
}
.option_select {
  margin-right: 10px;
}
.option_select:hover{
  background-color: #ccc;
  color: #000000;
}
