<div class="container d-flex justify-content-center">
  <app-processing
    *ngIf="loading"
    message="Consultando dados da API..."
  ></app-processing>
  <!-- Cadastro OK -->
  <div *ngIf="signuped && data?.status == '200'" class="alert alert-success full" role="alert">
    <h4 class="alert-heading">Cadastro realizado com sucesso!</h4>
    <p class="mb-0">{{ data.message }}</p>
  </div>
  <!-- Erro de cadastro-->
  <div *ngIf="signuped && data?.status == '404'" class="alert alert-danger full" role="alert">
    <h4 class="alert-heading">Erro ao cadastrar!</h4>
    <p class="mb-0">{{ data.message }}</p>
    <br/>
    <button class="btn btn-outline-danger" (click)="signuped = false">Voltar</button>
  </div>
  <div
    class="card shadow p-4"
    style="width: 100%; max-width: 500px"
    *ngIf="!signuped"
  >
    <h2 class="text-center mb-4">Cadastrar-se</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="mb-3">
        <label for="fullname" class="form-label">Nome completo</label>
        <input
          type="text"
          id="fullname"
          formControlName="fullname"
          class="form-control border border-secondary"
          placeholder="Seu nome completo"
        />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control border border-secondary"
          placeholder="seu@email.com"
        />
      </div>

      <div class="mb-3">
        <label for="institution" class="form-label">Instituição</label>
        <input
          type="text"
          id="institution"
          formControlName="institution"
          class="form-control border border-secondary"
          placeholder="Instituição de vínculo"
        />
      </div>

      <button
        type="submit"
        class="btn btn-success w-100"
        [disabled]="form.invalid"
      >
        Cadastrar
      </button>

      <div class="text-center mt-3">
        <a
          routerLink="/social/login"
          class="link-secondary text-decoration-none"
          >Já tem conta? Fazer login</a
        >
      </div>
    </form>
  </div>
</div>
