<div *ngIf="(terms && terms.length > 0) || (editMode)" class="mt-2">
  <h6>{{title}}</h6>

  <div
    *ngFor="let term of terms"
    class="italic"
    style="margin-left: 20px; margin-bottom: 5px;"
  >
  <input
    type="checkbox"
    [value]="term.id"
    (change)="onCheckboxChange($event)"
  />
    {{ term.term }}
    <sup>{{ term.lang }}</sup>
  </div>

  <div *ngIf="terms.length == 0" class="alert alert-warning" role="alert">
    Nenhum termo encontrado.
  </div>

  <button *ngIf="terms.length > 0" class="btn btn-primary btn-sm full" (click)="addLabel()" [disabled]="!formAction.valid">
    <i class="bi bi-plus-circle"></i> Associar ao conceito
  </button>

</div>
