/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url("https://fonts.googleapis.com/css2?family=Actor&family=Arsenal&family=Cabin+Condensed&family=Lora:ital@1&family=Roboto+Slab:wght@300&family=Roboto:wght@100&family=Titillium+Web:wght@200&display=swap");

.logo {
  font-family: "Actor", sans-serif;
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
}
.logo_phrase
  {
    font-family: "Actor", sans-serif;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
  }

.superbig {
  font-size: 2rem;
}
