/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Actor&family=Arsenal&family=Cabin+Condensed&family=Lora:ital@1&family=Roboto+Slab:wght@300&family=Roboto:wght@100&family=Titillium+Web:wght@200&display=swap");

.navbar-custom {
  background-color: #CCF;  /* ou qualquer tom de azul escuro que preferir */
}

.logo {
  font-family: "Actor", sans-serif;
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
}
.logo_phrase {
  font-family: "Actor", sans-serif;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
}
.italic {
  font-style: italic;
}

.small {
  font-size: 0.8rem;
}
.big {
  font-size: 1.5rem;
}
.superbig {
  font-size: 2rem;
}

h5 {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.bi-trash{
  color: #fbb;
}

.link {
  color: #000;
  text-decoration: none;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.3s;
  &:hover {
    opacity: 1;
  }
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}

.full
  {
    width: 100%;
  }
.half
  {
    width: 50%;
  }
.quarter
  {
    width: 25%;
  }

.h4_info
  {
    font-size: 1.0rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    border-left:5px solid #888;
    padding: 0px 0px 0px 10px;
  }
