<table class="table table-striped full" *ngIf="licences">
  <tr *ngFor="let tp of licences">
    <td valign="top">
      <input
        type="radio"
        name="type"
        [checked]="tp.id == licence"
        [value]="tp.id"
        (click)="selectType(tp.id)"
      />
    </td>
    <td valign="top">
      <img [src]="tp.icon" style="height: 40px" />
    </td>
    <td class="p-2" [class.marked]="tp.id === licence">
      {{ tp.name }}
      <p class="small" [class.marked]="tp.id === licence">
        {{ tp.description }}
      </p>
    </td>
  </tr>
</table>
