<div class="container">
  <div class="row">
    <div class="col-6 col-lg-2"></div>
    <div class="col-12 col-lg-12">
      <p>
        As licenças Creative Commons são uma forma de proteger os direitos
        autorais de uma obra, permitindo que o autor escolha como deseja
        compartilhar sua criação. As licenças CC oferecem diferentes níveis de
        permissão, desde o uso total da obra até restrições específicas.
      </p>
      <p>As principais licenças CC incluem:</p>

      <table class="table table-bordered table-striped table-hover">
        <tr>
          <th width="2%"></th>
          <th width="2%"></th>
          <th width="96%"></th>
        </tr>
        <tr>
          <td class="text-center">
            <img
              src="assets/licence/by.xlarge.png"
              alt="Licença CC BY"
              width="45px"
            />
          </td>
          <td class="text-center">BY</td>
          <td>Os créditos devem ser dados ao criador.</td>
        </tr>
        <tr>
          <td class="text-center">
            <img
              src="assets/licence/sa.xlarge.png"
              alt="Licença CC BY-SA"
              width="45px"
            />
          </td>
          <td class="text-center">SA</td>
          <td>
            Permite adaptações da obra, desde que sejam compartilhadas pela
            mesma licença.
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <img
              src="assets/licence/nd.xlarge.png"
              alt="Licença CC BY-ND"
              width="45px"
            />
          </td>
          <td class="text-center">ND</td>
          <td>
            Permite redistribuição, comercial ou não, mas não permite
            modificações.
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <img
              src="assets/licence/nc.xlarge.png"
              alt="Licença CC BY-NC"
              width="45px"
            />
          </td>
          <td class="text-center">NC</td>
          <td>
            Permite uso não comercial, com atribuição, mas não permite uso
            comercial.
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
