<div style="height: 100px; width: 100px"></div>
<!-- DEBUG-VIEW ENDED 3 APPPATH/Views/Theme/Standard/Foot.php -->

<footer
  id="footer"
  class="mt-1 container-fluid"
  style="min-height: 50px; background-color: #fff; border-top: 1px solid #eee"
>
  <div class="row">
    <div class="col-6 col-sm-1 mt-2">
      <a href="https://www.ufrgs.br/thesa/public">
        <img
          src="https://www.ufrgs.br/thesa/public/img/logo/logo_thesa.svg"
          class="img-fluid p-1"
        />
      </a>
    </div>
    <div class="col-6 col-sm-7 mt-2 text-end">
      <span class="small"> &copy;2017-2025 </span>
    </div>

    <div class="col-4 col-sm-2 text-end mt-2">
      <a href="https://github.com/ReneFGJr/Thesa"
        ><img [src]="logo_github" style="height: 25px"
      /></a>
    </div>

    <div class="col-4 col-sm-1">
      <img class="img-fluid p-0 mt-2 float-right" [src]="logo_orclab" />
    </div>
    <div class="col-4 col-sm-1">
      <img
        class="img-fluid p-0 mt-2 float-right"
        [src]="logo_ppgcin"
        alt="PPGCIN"
      />
    </div>
  </div>
</footer>
