<div style="height: 100px; width: 100px"></div>
<!-- DEBUG-VIEW ENDED 3 APPPATH/Views/Theme/Standard/Foot.php -->

<footer
  id="footer"
  class="mt-1 container-fluid"
  style="min-height: 50px; background-color: #fff; border-top: 1px solid #eee"
>
  <div class="row">
    <div class="col-6 col-sm-2 mt-2">
      <a href="https://www.ufrgs.br/thesa/">
        <img
          src="https://www.ufrgs.br/thesa/assets/img/logo/logo_thesa.svg"
          class="img-fluid p-1"
          style="height: 40px"
        /> </a
      >T H E S A
    </div>
    <div class="col-6 col-sm-6 mt-2 text-end">
      <span class="small"> &copy;2017-2025 </span>
      <span class="small">versão 0.25.07.14</span>
    </div>

    <div
      class="col-12 col-sm-6 col-md-4 d-flex justify-content-end align-items-center gap-3 mt-2"
    >
      <a href="https://www.gov.br/cnpq/pt-br" target="_blank">
        <img [src]="logo_cnpq" alt="CNPq" height="25" />
      </a>
      <a href="https://github.com/ReneFGJr/Thesa" target="_blank">
        <img [src]="logo_github" alt="GitHub" height="25" />
      </a>
      <a href="https://www.ufrgs.br/orcalab/" target="_blank">
        <img [src]="logo_orclab" alt="OrcaLab" height="30" />
      </a>
      <a href="https://www.ufrgs.br/ppgcin/" target="_blank">
        <img [src]="logo_ppgcin" alt="PPGCIN" height="25" />
      </a>
    </div>
  </div>
</footer>
