<div class="container mt-4">
  <form [formGroup]="formAction" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="desc" class="form-label">Descrição</label>
      <textarea id="desc" class="form-control" rows="10" formControlName="description"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>

<angular-editor
  formControlName="description"
  [config]="editorConfig"
></angular-editor>

<button (click)="onSubmit()">Salvar</button>
