<app-th-show
  *ngIf="thesaID > 0"
  [thesa]="thesa"
  [editMode]="editMode"
></app-th-show>

<!-------------- MOSTRA LISTA DE CONCEITOS ------------>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4 col-md-4 col-sm-12" *ngIf="thesaID > 0">
      <h3>Conceitos</h3>
      <sup>{{ termList?.terms.length }} conceitos</sup>
      <app-terms
        [thesa]="thesaID"
        [termList]="termList"
        [termListCandidate]="termListCandidate"
        [editMode]="editMode"
        (termChange)="changeTerm($event)"
      ></app-terms>
    </div>

    <!---------- MOSTRA CONCEITO SELECIONADO ----------->
    <div class="col-8 col-lg-8 col-md-8 col-sm-12" *ngIf="thesaID > 0">
      <app-concept-show
        *ngIf="termID != 0"
        [conceptID]="termID"
        [editMode]="editMode"
        [thesaID]="thesaID"
        [dataConcept]="dataConcept"
        (termChange)="changeTerm($event)"
      ></app-concept-show>

      <!---------------------- RESUMO ---------------------->
      <div
        class="col-8 col-lg-8 col-md-8 col-sm-12"
        *ngIf="termID == 0"
        class="alert alert-info"
        role="alert"
      >
        Selecione um termo para ver os detalhes.
      </div>
    </div>

    <app-concept-404 *ngIf="data?.status == '404'"></app-concept-404>
  </div>
</div>
