@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Roboto+Condensed:wght@400&display=swap');

body
    {
        background-color: #fff;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 120%;
        /* font-family: 'Kodchasan', sans-serif; */
        /* font-family: 'Oxanium', cursive; */
    }

h1,h2,h3,h4,h5,h6,h7,h8
    {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        color: #0707A9;
    }
h1 {
    
}
a.thesa
    {
        font-size: 100%;
        color: #000;
        font-size: 110%;
    }

a.thesa:hover {
    color: #000066;
    text-decoration: underline;
}    
.navbar-brand
    {
        font-family: 'Handel Gothic';
        font-size: 200%;
        padding: 0px 0px;
        color: white;
    }
.navbar
    {
        padding: 0px 0px;
    }
.bc
    {
        background-color:#0093DD;
    }

a, a::after
    {
        text-decoration: none;
        color: #888;
    }

a:hover
    {
        text-decoration: none;
        color: #000;
    }   
    
.supersmall
    {
        font-size: 60%;
    }

.card-text
        {
        font-size: 80%;
        line-height: 110%;
        color: black;
        text-align: center;
        }
.logo_thesa_text
    {
        font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        font-size: 600%;
    }

.logo_thesa_text_sub  
{
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 200%;
}
.card
    {
         border: 2px solid #ddd; 
         height:200px;
         border-radius: 10px;
         box-shadow: 4px 4px 5px #888;
    }
.card_image
    {
        height: 120px;
    }

.card:hover
    {
         border: 2px solid #444; 
         height:200px;
    }  
.page-item
    {
        margin: 0px 5px;
        width: 20px;
        text-align: center;
    }
.page-item:hover
    {
        background-color: #000;
        border-color: black;
    }
.card_title
    {
        background: #EFEFFF; 
        height: 70px;
        margin-top: 10px;
        line-height: 95%;
        /* font-weight: bold; */
        display: flex;
        justify-content: center;
        align-items: center;
    }