.form-control
    {
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
    }

.btn-fluid {
  display: block;
  width: 80%;
}

.clipboard, .clipboard:hover,
.clipboard:active, .clipboard:focus,
.clipboard.input:focus
{
  border: 0px;
  outline: none;
}

.extrabig
  {
    font-size: 300%;
  }
.big
  {
    font-size: 200%;
  }
.small
  {
    font-size: 75%;
  }
.supersmall
  {
    font-size: 75%;
  }