@import url("https://fonts.googleapis.com/css2?family=Actor&family=Arsenal&family=Cabin+Condensed&family=Lora:ital@1&family=Roboto+Slab:wght@300&family=Roboto:wght@100&family=Titillium+Web:wght@200&display=swap");
body {
  font-size: 1.0rem;
  line-height: 100%;
  background-color: #f5f5f5;
  color: #333;
}

#footer{
 position:fixed;
 bottom:0;
 left:0;
}

.full {
  width: 100%;
}

.none, .none:hover
  {
    border: 0px;
  }

.term_list {
  border: 1px solid #0000;
  background-color: #888;
  height: 400px;
}

.prefLabel {
  opacity: 0.7;
  padding-right: 4px;
  line-height: 130%;
  font-size: 1em;
}

.altLabel {
  opacity: 0.7;
  font-style: italic;
  font-size: 0.8em;
  line-height: 110%;
}

.prefLabel:hover {
  opacity: 1;
}

.abrev {
  background-color: #f8f8f8;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
  font-weight: bold;
}

.table_theme {
  width: 100%;
  font-size: 1.2rem;
}
.trh {
  border-top: 1px solid #555;
}
.tdh {
  border-top: 1px solid #555;
}
.font {
  font-family: "Cabin Condensed", "Arsenal", "Roboto Slab", "Actor", sans-serif;
}

.over {
  border: 1px #fff solid;
  border-radius: 10px;
  padding: 10px 20px 0px 20px;
  margin-bottom: 5px;
}

.over:hover {
  background-color: #fff;
  border: 1px #888 solid;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #006;
}
a {
  text-decoration: none;
  color: #669;
}
a:hover {
  color: #006;
}

.lora
{
  font-family: 'Lora', 'Times New Roman';
  font-style: italic;
  font-weight: bold;
}

.handle
  {
    cursor: pointer;
  }

.bghover:hover
  {
    background-color: #e8e8e8;
  }

/***************************** CARDS */
.cards {
  box-shadow: 4px 4px 5px #ddd;
}

.cards:hover {
  box-shadow: 4px 4px 5px #888;
  background-color: #e8e8e8;
}

a.cards {
  text-decoration: none;
  color: #338;
}

.form-control {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

.btn-fluid {
  display: block;
  width: 80%;
}

.clipboard,
.clipboard:hover,
.clipboard:active,
.clipboard:focus,
.clipboard.input:focus {
  border: 0px;
  outline: none;
}

sup
  {
    color: #AAA;
    font-size: 0.5em;
  }

.extrabig {
  font-size: 2em;
}
.big {
  font-size: 1.6em;
}
.small {
  font-size: 0.7em;
}
.supersmall {
  font-size: 0.6em;
}
.notes
  {
    font-size: 0.7em;
  }
/**************************** Resume******/
.resume {
  font-size: 1.2rem;
  border: 1px solid #0000;
  border-radius: 5px;
}

/**************************** SCROLL BAR */

select::-webkit-scrollbar {
  width: 20px;
  background-color: #fff;
  border: 0px solid #eee;
}

select::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border: 0px solid #000;
}

.sidebar {
  position: absolute;
}

/****************************** Paralax */
.parallax_background_1 {
  /* The image used */
  background-image: url("img/background/background_1.jpg");
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/******************************************** Logo Thesa */
.logo_thesa_text {
  font-family: Roboto, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 600%;
}

.logo_thesa_text_sub {
  font-family: Roboto, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 200%;
}

.separador {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.separator-line {
  width: 125px;
  height: 1px;
  background-color: hsla(0, 0%, 100%, 0.6);
  margin: 20px 0;
}

.box {
  margin-top: 40px;
  border: 5px solid #000000;
  background-color: #c0c0c0;
  opacity: 0.7;
  border-radius: 10px;
  margin: 10px;
}
