@import url('https://fonts.googleapis.com/css2?family=Actor&family=Arsenal&family=Cabin+Condensed&family=Lora:ital@1&family=Roboto+Slab:wght@300&display=swap');
body {
    font-family: 'Cabin Condensed','Arsenal','Roboto Slab','Actor', sans-serif;
    font-size: 1.2rem;
    background-color: #f5f5f5;
    color: #333;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', sans-serif;
    color: #333;
}
a {
    text-decoration: none;
    color: #669;
}
a:hover {
    text-decoration: underline;
    color: #006;
}

/***************************** CARDS */
.cards
  {
    box-shadow: 4px 4px 5px #DDD;
  }

.cards:hover
  {
    box-shadow: 4px 4px 5px #888;
    background-color: #E8E8E8;
  }

a.cards
    {
       text-decoration: none;
       color: #338;
    }


.form-control
    {
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
    }

.btn-fluid {
  display: block;
  width: 80%;
}

.clipboard, .clipboard:hover,
.clipboard:active, .clipboard:focus,
.clipboard.input:focus
{
  border: 0px;
  outline: none;
}

.extrabig
  {
    font-size: 300%;
  }
.big
  {
    font-size: 200%;
  }
.small
  {
    font-size: 75%;
  }
.supersmall
  {
    font-size: 75%;
  }