<h5>{{ termLabel }} <i *ngIf="label!='narrow'" class="bi bi-plus-circle link" (click)="togglePanel(label)"></i></h5>
<ul>
  <li
    *ngFor="let term of terms"
    [class]="term.Propriety"
    class="option_select"
    style="list-style-type: none; padding: 0; margin: 0;"
  >
  <span *ngIf="!term.id">{{ term.Term }} <sup style="color:#888;">{{term.Lang}}</sup></span>
  <a *ngIf="term.id" [routerLink]="['/c', term.id]" class="link">
    <i class="bi bi-tag-fill"></i> {{ term.Term }} <sup style="color:#888;">{{term.Lang}}</sup>
  </a>
  </li>
</ul>
