<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div formArrayName="languages">
    <div *ngFor="let lang of languagesFormArray.controls; let i = index" [formGroupName]="i">
      <label>
        <input type="checkbox" formControlName="checked" />
        {{ languageLabel(lang.get('code')?.value, lang.get('label')?.value) }}
      </label>
    </div>
  </div>

  <div class="alert alert-info mt-3" role="alert" *ngIf="showError">
    <strong>{{ language.labels().note }}:</strong> {{message}}
  </div>

  <button type="submit" class="btn btn-primary mt-3">{{ language.labels().submit }}</button>
</form>
