<app-th-show *ngIf="data" [thesaID]="thesaID" [thesa]="data" [tab]="'1'" [editMode]="editMode" [thStatus]="data.th_status"></app-th-show>
<app-th-canceled *ngIf="data.th_status == 9"></app-th-canceled>
<div class="container" *ngIf="data.th_status != 9">
  <div class="row">

    <div class="col-4 col-lg-4 col-md-4 col-sm-12">
      <app-terms *ngIf="data" [editMode]="editMode" [thesa]="thesaID" (termChange)="changeTerm($event)"></app-terms>
    </div>

    <div class="col-8 col-lg-8 col-md-8 col-sm-12">
      <app-concept-show *ngIf="termID > 0" [conceptID]="termID" [thesaID]="thesaID" [editMode]="editMode"></app-concept-show>
    </div>
  </div>
</div>
