<nav class="navbar navbar-expand-lg navbar-light navbar-custom mb-5 fixed-top" [attr.lang]="language.currentLanguage()">
  <div class="container-fluid">
    <a class="navbar-brand ms-2" [routerLink]="['/']">
      <img [src]="logo" title="Thesa" style="height: 30px" />
    </a>

    <!-- botão hamburguer -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleMenu()"
      aria-controls="navbarNavX"
      aria-expanded="false"
      [attr.aria-label]="language.labels().toggleNavigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- conteúdo da navbar -->
    <div class="collapse navbar-collapse" id="navbarNavX">
      <ul class="navbar-nav" (click)="closeMenu()">
        <li class="nav-item" *ngIf="hasThesaSelected">
          <a class="nav-link" [routerLink]="['/search']">
            <i class="bi bi-search me-2"></i>{{ language.labels().search }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/thopen']">{{ language.labels().open }}</a>
        </li>
        <li class="nav-item" *ngIf="user">
          <a class="nav-link" [routerLink]="['/thmy']">{{ language.labels().mine }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/documentation']">{{ language.labels().documentation }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">{{ language.labels().about }}</a>
        </li>
      </ul>

      <ul class="ms-auto navbar-nav">
        <li class="nav-item language-picker">
          <button #languageToggle id="languageToggle" type="button" class="btn language-flag-btn"
            (click)="languageMenuOpen = !languageMenuOpen"
            [attr.aria-expanded]="languageMenuOpen" aria-controls="languageSelect"
            [attr.aria-label]="language.labels().openLanguageSelection"
            [title]="language.labels().selectLanguage">
            <img [src]="language.selectedOption().flagSrc" [alt]="language.selectedOption().label" width="18" height="12" />
          </button>
          <select id="languageSelect" class="form-select form-select-sm language-select"
            [hidden]="!languageMenuOpen" [ngModel]="language.currentLanguage()"
            (ngModelChange)="setLanguage($event)" [attr.aria-label]="language.labels().selectLanguage"
            (keydown.escape)="languageMenuOpen = false; languageToggle.focus()">
            <option *ngFor="let option of language.options" [ngValue]="option.code">{{ option.label }}</option>
          </select>
        </li>
        <li class="nav-item"><app-user-menu [user]="user"></app-user-menu></li>
      </ul>
    </div>
  </div>
</nav>

<div class="mt-5 pt-5"></div>
