<h4>{{ title }}</h4>

<!-- Campo de filtro -->
<input
  type="text"
  placeholder="Filtrar termos..."
  [(ngModel)]="filterText"
  class="full"
  style="margin-bottom: 10px;"
/>

<form [formGroup]="formAction" (ngSubmit)="onSubmit()">
  <label for="termSelect" class="bold">Selecione um conceito:</label>
  <select id="termSelect" formControlName="termId" class="full" size="12">
    <option *ngFor="let item of filteredTerms()" [value]="item.id">
      {{ item.Term }}
    </option>
  </select>

  <div *ngIf="actionCV == 'related'" class="mt-3">
    <label class="bold">Tipo de relação:</label>
    <select id="actionCV" formControlName="actionCV" class="full" size="6" *ngIf="related">
      <option value="">::Select::</option>
      <option *ngFor="let item of related" [value]="item.id_rt">
        {{ item.rp_achronic }}/{{ item.rp_achronic_reverse }}
      </option>
    </select>
  </div>


  <button type="submit" class="btn btn-primary mt-3 full">Vincular conceito</button>
</form>

<!-- Botão de fechar -->
<span class="btn btn-warning mt-3 full" (click)="cancelButton()">Fechar</span>
