.parallax-section {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  padding: 80px 0;
  height: 200px;
  color: #fff; /* para garantir contraste */
}

.parallax-1
  {
    background-image: url('https://www.ufrgs.br/thesa/assets/background/parallax-background_2.png'); /* Altere o caminho para sua imagem */
  }
.parallax-2
  {
    background-image: url('https://www.ufrgs.br/thesa/assets/background/parallax-background_1.png'); /* Altere o caminho para sua imagem */
  }

  .box
    {
      background-color: #ddd;
      border-radius: 20px;
      margin: 10px;
      opacity: 0.7;
      color: #000;
    }
