<div *ngIf="data" class="container">
  <div class="row">
    <div class="col-10 col-lg-11 col-md-11 col-sm-10">
      <h2>
        <i class="bi bi-tag-fill"></i>
        {{ data.label }} <sup>({{ data.lg_code }})</sup>
      </h2>
    </div>
    <div class="col-12 col-lg-1 col-md-1 col-sm-2">
      <app-concept-link [conceptLink]="term"></app-concept-link>
    </div>

    <!--- TABS -->
    <div class="container my-5">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="home-tab"
            data-bs-toggle="tab"
            data-bs-target="#home"
            type="button"
            role="tab"
            aria-controls="home"
            aria-selected="true"
          >
            Informações
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#profile"
            type="button"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
          >
            Gráficos
          </button>
        </li>

        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="contact-tab"
            data-bs-toggle="tab"
            data-bs-target="#contact"
            type="button"
            role="tab"
            aria-controls="contact"
            aria-selected="false"
          >
            Exportação
          </button>
        </li>

        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#manager"
            type="button"
            role="tab"
            aria-controls="manager"
            aria-selected="false"
          >
            Administrativo
          </button>
        </li>

      </ul>

      <!------------------------ TAB 1-->
      <div class="tab-content mt-3" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="container">
            <div class="row">
          <div class="col-12 col-lg-6 col-md-6 col-sm-12">
            <!-- PrefLabel-->
            <app-pref-label [terms]="data.prefLabel"></app-pref-label>

            <!-- Video -->
            <app-video-play [medias]="data.medias"></app-video-play>
          </div>

              <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                <!-- AltLabel-->
                <app-alt-label [terms]="data.altLabel"></app-alt-label>

                <!-- HiddenLabel-->
                <app-hidden-label [terms]="data.hiddenLabel"></app-hidden-label>

                <!-- Broader -->
                <app-broader [terms]="data.broader"></app-broader>

                <!-- Narrow -->
                <app-narrow [terms]="data.narrow"></app-narrow>

                <!-- Related -->
                <app-related [terms]="data.related"></app-related>

                <!-- Notes-->
                <app-notes [notes]="data.notes"></app-notes>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          <h2 class="mb-3">RDF</h2>
          <pre class="lead">{{data | json}}</pre>
        </div>
        <div
          class="tab-pane fade"
          id="contact"
          role="tabpanel"
          aria-labelledby="contact-tab"
        >
          <h2 class="mb-3">Contact</h2>
          <p class="lead">This is the contact tab content.</p>
        </div>
      </div>

        <div
          class="tab-pane fade"
          id="manager"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          <h2 class="mb-3">Dados Administrativos</h2>
          <pre class="lead">{{data | json}}</pre>
        </div>
    </div>

    <!-- -->
  </div>
</div>
