<div class="container">
  <div class="row">
  <div classs="col-1 col-lg-1">1</div>
  <div classs="col-1 col-lg-1">1</div>
  <div classs="col-1 col-lg-1">1</div>
  <div classs="col-1 col-lg-1">1</div>
  <div classs="col-1 col-lg-1">1</div>
  <div classs="col-1 col-lg-1">1</div>
  <div classs="col-1 col-lg-1">1</div>
  <div classs="col-1 col-lg-1">1</div>
  <div classs="col-1 col-lg-1">1</div>
  <div classs="col-1 col-lg-1">1</div>
  <div classs="col-1 col-lg-1">1</div>
  <div classs="col-1 col-lg-1">1</div>
    <div classs="col-6 col-lg-6">
      <img
        [src]="imageUrl"
        alt="Thesa Logo"
        style="width: 100%;"
      />
    </div>
    <div class="col-12 col-lg-6"></div>
  </div>
</div>
