<div *ngIf="(terms && terms.length > 0) || (editMode)" class="mt-2">
  <h6>Termos preferenciais
  <span *ngIf="editMode"
    class="bi bi-plus-circle link"
    role="button"
    title="Termos não associados"
    data-bs-toggle="offcanvas"
    data-bs-target="#termPrefLabel"
    aria-controls="termPrefLabel"
  ></span>
  </h6>

  <div
    *ngFor="let term of terms"
    class="italic"
    style="margin-left: 20px; margin-bottom: 5px;"
  >
    {{ term.Term }}
    <sup>{{ term.Lang }}</sup>
  </div>
</div>
