<div class="container mt-4">
  <form [formGroup]="formAction" (ngSubmit)="onSubmit()">
    <div *ngIf="showError" class="alert alert-warning mt-4" role="alert">
      {{ messageError }}
    </div>

    <div *ngIf="termListCandidate">
      <!-- Botões de seleção -->
      <div class="mb-3">
        <button
          type="button"
          class="btn btn-outline-success me-2"
          (click)="selectAll()"
        >
          Selecionar tudo
        </button>
        <button type="button" class="btn btn-outline-warning" (click)="deselectAll()">
          Desmarcar tudo
        </button>
      </div>

      <div *ngFor="let nterm of termListCandidate">
        <input
          type="checkbox"
          [value]="nterm.id"
          [checked]="isChecked(nterm.id)"
          (change)="onCheckboxChange($event)"
        />
        {{ nterm.term }} <sup>{{ nterm.lang }}</sup>
      </div>

      <button
        type="submit"
        class="btn btn-primary mt-2 full"
        [disabled]="termsArray.length === 0"
      >
        Criar conceito
      </button>
    </div>
  </form>

  <button
    type="button"
    class=""
    class="btn btn-outline-warning btn-close2 mt-2 full"
    data-bs-dismiss="offcanvas"
    aria-label="Fechar"
  >
    Fechar
  </button>

</div>
