<div class="container mt-4">
  <form [formGroup]="formAction" (ngSubmit)="onSubmit()">
    <div *ngIf="showError" class="alert alert-warning mt-4" role="alert">
      {{ messageError }}
    </div>

    <div *ngIf="termListCandidate">
      <!-- Botões de seleção -->
      <div class="mb-3">
        <button
          type="button"
          class="btn btn-outline-success me-2"
          (click)="selectAll()"
        >
          {{ language.labels().selectAll }}
        </button>
        <button type="button" class="btn btn-outline-warning" (click)="deselectAll()">
          {{ language.labels().deselectAll }}
        </button>
        <button
        type="button"
        class="btn btn-outline-danger ms-2"
        [disabled]="termsArray.length === 0 || isSubmitting"
        (click)="unlinkSelected()"
      >
        {{ language.labels().removeCandidateTerms }}
        </button>
      </div>

      <div *ngFor="let group of candidateGroups" class="mb-3">
        <h6 class="border-bottom pb-1">{{ group.lang }}</h6>
        <div *ngFor="let nterm of group.terms">
          <input
            type="checkbox"
            [value]="nterm.id"
            [checked]="isChecked(nterm.id)"
            (change)="onCheckboxChange($event)"
          />
          {{ nterm.term }}
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary mt-2 full"
        [disabled]="termsArray.length === 0 || isSubmitting"
      >
        {{ language.labels().createConcept }}
      </button>
    </div>
  </form>

  <button
    type="button"
    class=""
    class="btn btn-outline-warning btn-close2 mt-2 full"
    data-bs-dismiss="offcanvas"
    [attr.aria-label]="language.labels().close"
  >
    {{ language.labels().close }}
  </button>

</div>
