<div class="container mt-4">
  <form [formGroup]="formAction" (ngSubmit)="onSubmit()">
    <div *ngIf="showError" class="alert alert-warning mt-4" role="alert">
      {{ messageError }}
    </div>

    <div *ngFor="let nterm of data.Terms">
      <input
        type="checkbox"
        [value]="nterm.id"
        (change)="onCheckboxChange($event)"
      />
      {{ nterm.term }} <sup>{{ nterm.lang }}</sup>
    </div>

    <button type="submit" class="btn btn-primary mt-2 full" *ngIf="data.Terms">
      Criar conceito
    </button>
  </form>

  <button class="btn btn-outline-warning mt-2 full" (click)="loadOrigin()">
    Fechar
  </button>

  <div *ngIf="showSuccess" class="alert alert-success mt-4" role="alert">
    Dados salvos com sucesso!
  </div>
</div>
