<div class="container d-flex justify-content-center">
  <div
    class="card shadow p-4"
    *ngIf="active"
    style="width: 100%; max-width: 400px"
  >
    <h2 class="text-center mb-4">Cadastrar nova senha</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="mb-3">
        <label for="pass1" class="form-label">Cadastre nova senha</label>
        <input
          type="password"
          id="pass1"
          class="form-control"
          formControlName="pass1"
          placeholder="Digite a senha, mínimo 6 caracteres"
        />
      </div>

      <div class="mb-3">
        <label for="pass2" class="form-label">Redigite nova a senha</label>
        <input
          type="password"
          id="pass2"
          class="form-control"
          formControlName="pass2"
          placeholder="Repita sua senha senha, mínimo 6 caracteres"
        />
      </div>

      <div *ngIf="data?.message" class="alert alert-success" role="alert">
        {{ data.message }}
      </div>

      <!-- erro de mismatch no grupo -->
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="form.errors?.['passwordMismatch'] && form.touched && form.value.pass2 != ''"
      >
        As senhas não coincidem.
      </div>

      <button
        type="submit"
        class="btn btn-primary w-100"
        [disabled]="form.invalid"
      >
        Salvar nova senha
      </button>

      <div class="text-center mt-3">
        <a
          routerLink="/social/login"
          class="link-secondary text-decoration-none"
          >Voltar para o login</a
        >
      </div>
    </form>
  </div>
  <!-- erro de mismatch no grupo -->
  <div class="alert alert-danger col-12" role="alert" *ngIf="!active">
    Token inválido
  </div>
</div>
