<div class="container">
  <div class="row">
    <div class="col-12 col-lg-12 col-md-12 col-sm-12">
      <app-term-label
        (action)="action($event)"
        [termID]="data?.c_concept"
        [terms]="data?.prefLabel"
        [label]="'prefLabel'"
        [editMode]="editMode"
      ></app-term-label>
      <app-term-label
        (action)="action($event)"
        [termID]="data?.c_concept"
        [terms]="data?.altLabel"
        [label]="'altLabel'"
        [editMode]="editMode"
      ></app-term-label>
      <app-term-label
        (action)="action($event)"
        [termID]="data?.c_concept"
        [terms]="data?.hiddenLabel"
        [label]="'hiddenLabel'"
        [editMode]="editMode"
      ></app-term-label>
    </div>
  </div>
</div>
