<div *ngIf="(terms && terms.length > 0) || (editMode)" class="mt-2">
  <h6>Termos alternativos</h6>

  <div
    *ngFor="let term of terms"
    class="italic"
    style="margin-left: 20px; margin-bottom: 5px;"
  >
  <input
    type="checkbox"
    [value]="term.id"
    (change)="onCheckboxChange($event)"
  />
    {{ term.term }}
    <sup>{{ term.lang }}</sup>
  </div>

  <button class="btn btn-primary btn-sm" (click)="addLabel()" [disabled]="!formAction.valid">
    <i class="bi bi-plus-circle"></i> Adicionar
  </button>
</div>
