<div class="alert alert-success" *ngIf="thesaID === 0">
  Loading ... {{ thesaID }}
</div>

<app-concept-404 *ngIf="data?.status=='404'"></app-concept-404>

<div *ngIf="data && (data?.status !='404')" class="container">
  <div class="row">
    <div class="col-10 col-lg-10 col-md-8 col-sm-8">
      <h2>
        <app-term-edit-concept [data]="data" [editMode]="editMode"></app-term-edit-concept>
        <app-top-concept [data]="data" [editMode]="editMode"></app-top-concept>
      </h2>
    </div>

    <div class="col-12 col-lg-2 col-md-4 col-sm-4 text-end">
      <app-concept-delete [conceptID]="conceptID" [editMode]="editMode"></app-concept-delete>
      <i
        class="bi bi-arrow-clockwise float-start p-1 link"
        (click)="ngOnChanges()"
      ></i>
      <app-concept-link [conceptLink]="conceptID"></app-concept-link>
    </div>

    <!-- TABS -->
    <div class="container">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li
          class="nav-item"
          *ngFor="let tab of tabs; let i = index"
          role="presentation"
        >
          <button
            class="nav-link"
            [class.active]="i === 0"
            id="{{ tab.id }}-tab"
            data-bs-toggle="tab"
            [attr.data-bs-target]="'#' + tab.id"
            type="button"
            role="tab"
            [attr.aria-controls]="tab.id"
            [attr.aria-selected]="i === 0 ? 'true' : 'false'"
          >
            {{ tab.name }}
          </button>
        </li>
      </ul>

      <!-- TAB CONTENT -->
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade"
          [class.show]="i === 0"
          [class.active]="i === 0"
          *ngFor="let tab of tabs; let i = index"
          [attr.id]="tab.id"
          role="tabpanel"
          [attr.aria-labelledby]="tab.id + '-tab'"
        >
          <!---------------------------------------- Information -->
          <ng-container *ngIf="tab.content == 'information'">
            <div class="container">
              <div class="row">
                <div class="col-12 col-lg-9 col-md-8 col-sm-8">
                  <!-- Terminology -->
                  <app-concept-show-terms
                    (actionAC)="action($event)"
                    [data]="data"
                    [editMode]="editMode"
                  ></app-concept-show-terms>

                  <!-- Concepts Relations -->
                  <app-concept-show-concepts
                    (actionAC)="action($event)"
                    [data]="data"
                    [editMode]="editMode"
                  ></app-concept-show-concepts>

                  <!-- Notes -->
                  <app-notes-show
                    (actionNotes)="actionUpdate($event)"
                    [editMode]="editMode"
                    [notes]="data.notes"
                    [thesaID]="thesaID"
                    [conceptID]="conceptID"
                  ></app-notes-show>

                  <!-- Extact Math SKOS -->
                  <app-skos-exactmath
                    (actionLD)="action($event)"
                    [editMode]="editMode"
                    [data]="data.linkeddata"
                    [thesaID]="thesaID"
                    [conceptID]="conceptID"
                  ></app-skos-exactmath>

                  <!-- Linked Data -->
                  <app-linkedata
                    (actionLD)="action($event)"
                    [editMode]="editMode"
                    [data]="data.linkeddata"
                    [thesaID]="thesaID"
                    [conceptID]="conceptID"
                  ></app-linkedata>
                </div>
                <div class="col-12 col-lg-3 col-md-4 col-sm-4">
                  <app-video-play-show
                    [medias]="data?.medias"
                  ></app-video-play-show>
                </div>
              </div>
            </div>
          </ng-container>

          <!---------------------------------------- Notas -->
          <ng-container *ngIf="tab.content == 'notas'">
            <!-- Notes -->
            <app-notes-show
              (actionNotes)="actionUpdate($event)"
              [editMode]="editMode"
              [notes]="data.notes"
              [thesaID]="thesaID"
              [conceptID]="conceptID"
            ></app-notes-show>
          </ng-container>
          <!---------------------------------------- Card -->
          <ng-container *ngIf="tab.content == 'card'">
            <app-concept-card [data]="data"></app-concept-card>
          </ng-container>
          <!---------------------------------------- Graph -->
          <ng-container *ngIf="tab.content == 'graph'">
            <app-concept-grafo [conceptData]="data"></app-concept-grafo>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<!---------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------- PAINEL popupConcept -->
<!-- Offcanvas (painel lateral tipo PANEL) -->
<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="popupConcept"
  aria-labelledby="popupConceptLabel"
>
  <div class="offcanvas-header">
    <h5 id="popupConceptLabel">{{ title }}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Fechar"
    ></button>
  </div>
  <div class="offcanvas-body">
    <!-- Conteúdo do painel ------------------------ ALTLABEL E HIDDENLABEL-->
    <ng-container
      *ngIf="
        actionAC === 'altLabel' ||
        actionAC === 'hiddenLabel' ||
        actionAC === 'prefLabel'
      "
    >
      <app-term-attribut-label
        [editMode]="editMode"
        [terms]="terms?.Terms"
        [actionCV]="actionAC"
        [conceptID]="conceptID"
        [thesaID]="thesaID"
        (action)="action($event)"
      >
      </app-term-attribut-label>
    </ng-container>

    <!-- Conteúdo do painel ------------------------ broader, narrow and related -->
    <ng-container
      *ngIf="
        actionAC === 'broader' ||
        actionAC === 'narrow' ||
        actionAC === 'related'
      "
    >
      <app-concept-relation
        [editMode]="editMode"
        [terms]="terms?.Terms"
        [actionCV]="actionAC"
        [conceptID]="conceptID"
        [thesaID]="thesaID"
        (actionAC)="action($event)"
      >
      </app-concept-relation>
    </ng-container>
    <!------------------------------------------- Exact Match ------------>
    <ng-container *ngIf="actionAC === 'exactMatch'">
    <app-skos-exactmath-edit [conceptID]="conceptID" [thesaID]="thesaID"></app-skos-exactmath-edit>
    </ng-container>
    <!------------------------------------------- Linked Data------------->
    <ng-container *ngIf="actionAC === 'linkeddata'">
    <app-linkedata-edit [conceptID]="conceptID" [thesaID]="thesaID"></app-linkedata-edit>
    </ng-container>
  </div>
</div>
