<app-th-show [thesa]="data" [tab]="'2'"></app-th-show>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-12 col-md-12 col-sm-12">
      <div class="doc-container">
        <aside class="doc-menu">
          <ul>
            <li
              *ngFor="let section of sections"
              [class.active]="section.id === selectedSection"
              (click)="selectSection(section.id)"
            >
              {{ section.title }}
            </li>
          </ul>
        </aside>

        <section class="doc-content">
          <ng-container [ngSwitch]="selectedSection">
            <div *ngSwitchCase="'title'" class="fade-in">
            <h1>Titulo</h1>
            </div>
          </ng-container>


          <ng-container [ngSwitch]="selectedSection">
            <div *ngSwitchCase="'descript'" class="fade-in">
            descript
            <app-form-textarea></app-form-textarea>
            </div>
          </ng-container>

        </section>
      </div>
    </div>
  </div>
</div>
