<ngx-graph
  [links]="links"
  [nodes]="nodes"
  [layout]="'dagre'"
  [enableZoom]="true"
  [zoomLevel]="0.8"
  [autoCenter]="true"
  [curve]="'linear'">

  <ng-template #defsTemplate></ng-template>

  <ng-template #nodeTemplate let-node>
    <svg:g>
      <rect [attr.width]="node.label.length * 10 + 20" height="30" fill="#0d6efd" rx="5" ry="5"></rect>
      <text alignment-baseline="middle" text-anchor="middle" x="50%" y="50%" fill="#fff">
        {{ node.label }}
      </text>
    </svg:g>
  </ng-template>

  <ng-template #linkTemplate let-link>
    <svg:g>
      <svg:text>{{ link.label }}</svg:text>
    </svg:g>
  </ng-template>

</ngx-graph>
