<div class="container d-flex justify-content-center ">
  <app-processing *ngIf="loading" message="Consultando dados da API..."></app-processing>

  <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
    <h2 class="text-center mb-4">Recuperar Senha</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="mb-3">
        <label for="email" class="form-label">Email cadastrado</label>
        <input
          type="email"
          id="email"
          class="form-control border border-secondary"
          formControlName="email"
          placeholder="Digite seu email"
        />
      </div>

      <div *ngIf="data?.message" class="alert alert-success" role="alert">
          {{data.message}}
      </div>

      <button type="submit" class="btn btn-primary w-100" [disabled]="form.invalid">Enviar link de recuperação</button>

      <div class="text-center mt-3">
        <a routerLink="/social/login" class="link-secondary text-decoration-none">Voltar para o login</a>
      </div>
    </form>
  </div>
</div>
